.mainContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.profileCard {
    display: flex;
    vertical-align: middle;
    margin: auto;
    height: 90%;
    width: 60%;
    background-color: #003fc2;
    border-radius: 10px;
}

.cardContent {
    padding: 40px;
    margin: auto;
}


.icon {
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
}

.titleSpan {
    float: left;
}

.textSpan {
    float: right;
}