.mainContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.profileCard {
    display: flex;
    vertical-align: middle;
    margin: auto;
    height: 90%;
    width: 60%;
    background-color: #003fc2;
    border-radius: 10px;
}

.cardContent {
    padding: 40px;
    margin: auto;
}


.icon {
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
}

.textBlock {
    overflow: hidden;
    border-bottom: 1px solid;
}

.titleSpan {
    display: block;
    float: left;
}

.textSpan {
    display: block;
    float: right;
}

.editButton {
    font-size: large;
    margin-right: 5px;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    color: white;
    background-color: #1289A7;
}

.editButton:hover {
    transition: all .4s ease;
    border-color: white;
}

.deleteButton {
    font-size: large;
    margin-left: 5px;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    color: white;
    background-color: #ED4C67;
}

.deleteButton:hover {
    transition: all .4s ease;
    border-color: white;
}

.buttonsContainer {
    margin: 10px auto;
}