.divConatiner {
    height: 80%;
    display: flex;
    justify-content: center;
}

.divFields {
    clear: both;
    line-height: 25px;
    text-align: right;
    padding: 10px;
}

.label {
    float: left;
    font-size: large;
    padding-right: 15px;
}

.input {
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: large;
    text-indent: 10px;
}

.button {
    font-size: large;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    color: white;
    background-color: #fe8804;
}

.button:hover {
    transition: all .4s ease;
    border-color: white;
}