.container {
    height: 80%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
}

@media (max-width: 600px) {

    .container {
        height: 80%;
        display: block;
    }

    .todoCard {
        height: 60%;
    }
}

.todoCard {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #003fc2;
    position: relative;
}

.button {
    height: 120px;
    width: 120px;
    border-color: transparent;
    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.iconEdit {
    height: 100%;
    width: 100%;
    color: white;
}

.iconEdit:hover {
    transition: all .4s ease;
    color: #fe8804;
}

.iconDelete {
    height: 100%;
    width: 100%;
    color: white;
}

.iconDelete:hover {
    transition: all .4s ease;
    color: #fc5c65;
}

.progressContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.elementsContainer {
    height: 100%;
}

.elementsBox {
    padding: 15px;
    overflow-y: scroll;
    height: 70%
}


.input {
    border-radius: 5px;
    margin: 5px;
    text-indent: 5px;
}

.elementButton {
    font-size: small;
    height: 20px;
    width: 70px;

    border-radius: 5px;
    color: white;
    background-color: #fe8804;
}

.elementButton:hover {
    transition: all .4s ease;
    border-color: white;
}

.span {
    font-size: large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.completedContainer {
    font-size: large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.completedButton {
    margin-top: 15px;
    font-size: large;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    color: white;
    background-color: #fe8804;
}

.completedButton:hover {
    transition: all .4s ease;
    border-color: white;
}