.todoFormContainer {
    margin-bottom: 30px;
    height: 80%;
}

.todoFormContainer form {
    display: block;
    align-items: center;
    justify-content: center;
}

.todoFormContainer input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}

.button {
    font-size: large;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
    background-color: #fe8804;
}

.button:hover {
    transition: all .4s ease;
    border-color: white;
}

.inputDiv {
    margin: 10px auto;
}