.todo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #555;
    color: #112b49;
    background-color: #fbfef9;
}

.todoText {
    width: 100%;
    text-align: center;
}

.todoIcon {
    font-size: 1.8rem;
    margin-right: 10px;
    color: teal;
}